{%- include head.html -%}

<body>
  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="line-drawing-demo" id="logo">
      <svg viewBox="0 0 280 100">
        <g
          fill="none"
          fill-rule="evenodd"
          stroke="currentColor"
          stroke-width="1"
          class="lines"
          transform="matrix(1, 0, 0, 1, 18.625277, -26.230597)"
        >
          <path
            d="M 107.295 43.171 C 130.389 43.175 144.819 68.177 133.268 88.175 C 121.718 108.173 92.85 108.168 81.307 88.166 C 69.765 68.168 84.195 43.175 107.285 43.171"
            class="el"
          ></path>
          <path
            style="
              fill: rgba(255, 255, 255, 0);
              fill-opacity: 0;
              paint-order: fill;
            "
            class="el"
            d="M 85.677 73.569 L 66.43 78.381 C 66.43 78.381 49.047 86.452 67.827 87.383 C 86.607 88.314 155.677 68.758 155.987 62.549 C 156.297 56.34 143.415 59.445 143.415 59.445 L 85.677 73.569 Z"
          ></path>
        </g>
      </svg>
    </div>

    <div class="wrapper">{{ content }}</div>
  </main>

  <style>
    /* Full-Page Background with Strong Glowing Effect */
    body {
      background: linear-gradient(
        135deg,
        #1254f0,
        hsla(277, 73%, 74%, 0.632),
        #25c3f8,
        #5a67d8
      );
      background-size: 400% 400%;
      animation: glowingBackground 20s ease infinite;
      font-family: Arial, sans-serif;
      color: #fff;
    }

    /* Glowing Animation for Background */
    @keyframes glowingBackground {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }

    .hidden-pg {
      display: none !important;
    }

    table {
      border-collapse: collapse;
      /* Ensures there are no gaps between table cells */
      border: none;
      /* Removes table borders */
      background-color: transparent;
    }

    table th,
    table td {
      background-color: transparent;
      border: none;
      /* Removes borders around individual cells */
    }
  </style>

  <script src="/neptune_frontend/assets/js/anime.min.js"></script>
  <script defer>
    let _authed;
    document.addEventListener("DOMContentLoaded", function () {
      document.getElementsByClassName("wrapper")[1].style.opacity = 0;
      document.getElementsByClassName("wrapper")[1].style.display = "none";
      document.querySelector("header").style.opacity = 0;
      document.querySelector("header").style.display = "none";

      let cookies = document.cookie.split("; ");
      cookies.forEach((cookie) => {
        const [key, value] = cookie.split("=");
        if (key === "jwt_python_flask") {
          _authed = true;
        }
      });

      if (!_authed && !window.location.href.endsWith("login")) {
        window.location.href = "/neptune_frontend/login";
      }

      anime({
        targets: ".line-drawing-demo .lines path",
        strokeDashoffset: [anime.setDashoffset, 0],
        easing: "easeInOutSine",
        duration: 1000,
        delay: function (el, i) {
          return i * 250;
        },
        direction: "alternate",
        loop: false,
        complete: function () {
          setTimeout(() => {
            document.getElementsByClassName("wrapper")[1].style.display =
              "block";
            document.querySelector("header").style.display = "block";
            anime({
              targets: ".wrapper",
              opacity: [0, 1],
              duration: 1000,
              easing: "easeInOutQuad",
            });
            anime({
              targets: "header",
              opacity: [0, 1],
              duration: 1000,
              easing: "easeInOutQuad",
            });
            anime({
              targets: "#logo",
              opacity: [1, 0],
              duration: 1000,
              easing: "easeInOutQuad",
              complete: function () {
                document.getElementById("logo").style.display = "none";
              },
            });
          }, 500);
        },
      });
    });
  </script>
</body>
