{%- include head.html -%}

<body>
  <script>
    let _authed;
    document.addEventListener("DOMContentLoaded", function () {
      let cookies = document.cookie.split("; ");
      cookies.forEach(cookie => {
        const [key, value] = cookie.split('=');
        if (key === "jwt_python_flask") {
          _authed = true;
        }
      });

      if (!_authed && !window.location.href.endsWith("login")) {
        window.location.href = '/flocker_frontend/login';
      }
    });
  </script>
  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">{{ content }}</div>
  </main>

  {%- include theme/minima/footer.html -%}

  <style>
    /* Full-Page Background with Strong Glowing Effect */
    body {
      background: linear-gradient(135deg,
          #1254f0,
          hsla(277, 73%, 74%, 0.632),
          #25c3f8,
          #5a67d8);
      background-size: 400% 400%;
      animation: glowingBackground 20s ease infinite;
      font-family: Arial, sans-serif;
      color: #fff;
    }

    /* Glowing Animation for Background */
    @keyframes glowingBackground {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }

    .hidden-pg {
      display: none !important;
    }

    table {
      border-collapse: collapse;
      /* Ensures there are no gaps between table cells */
      border: none;
      /* Removes table borders */
      background-color: transparent;
    }

    table th,
    table td {
      background-color: transparent;
      border: none;
      /* Removes borders around individual cells */
    }
  </style>
</body>